@model Prueba.Models.Doctor

@{
    ViewData["Title"] = "Registrar Nuevo Médico";
}

<h1>Registrar Médico</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalId" class="control-label">Número de Documento</label>
                <input asp-for="NationalId" class="form-control"/>
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality" class="control-label">Especialidad</label>
                <input asp-for="Speciality" class="form-control"/>
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Teléfono</label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo Electrónico</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Registrar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}